root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab # 缩进风格（tab | space）
indent_size = 4 # 缩进大小
trim_trailing_whitespace = true # 去除行首的任意空白字符
insert_final_newline = true # 始终在文件末尾插入一个新行

[*.md] # 表示仅 md 文件适用以下规则
max_line_length = off
trim_trailing_whitespace = false